{% extends "basis.html" %}

{% block inhalt %}

<table>
    <tr>
        <th>Titel</th>
        <td>{{ produktname }}</td>
    </tr>
    <tr>
        <th>Beschreibung</th>
        <td>{{ beschreibung }}</td>
    </tr>
    <tr>
        <th>Preis</th>
        <td>
            {{ preisEuro }} €
        </td>
    </tr>
    <tr>
        <th>Umrechnung</th>
        <td>
            <a href="/umrechnen/usd/{{ preisEuro }}">Preis in USD umrechnen</a> |
            <a href="/umrechnen/gbp/{{ preisEuro }}">Preis in GBP umrechnen</a>
        </td>
    </tr>    
</table>

<br>

<p>Anzahl Seitenaufrufe: {{ zaehler }}</p>

{% endblock %}
